layout python

export NODE_VERSIONS="$(nodenv root)/versions"
export NODE_VERSION_PREFIX=""
use node
layout node

user_envrc=".envrc-$(whoami)"
[[ -f "${user_envrc}" ]] && source "${user_envrc}" || true
